<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sudrieat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SudriEat"
        tools:replace="android:theme">
        <activity android:name=".AdminActivitySupp"></activity>
        <activity android:name=".AdminActivity2" />
        <activity android:name=".AdminActivity1" />
        <activity android:name=".EnregistrerActivity" />
        <activity android:name=".ConnecterActivity" />
        <activity android:name=".CookieActivity" />
        <activity android:name=".InfosActivity" />
        <activity android:name=".ProduitsActivity" />
        <activity android:name=".CommandesActivity" />
        <activity android:name=".AccueilActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>